<a routerLink="/add" class="btn btn-primary">Nuovo Contatto</a>
<h1>Lista Contatti</h1>
<table class="table table-hover table-striped">
  <thead>
    <th>Tipo</th>
    <th>Nome</th>
    <th>Cognome</th>
    <th>Ragione Sociale</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let c of contatti$ | async">
      <td>{{ c.tipo == "f" ? "Persona Fisica" : "Persona Giuridica" }}</td>
      <td>{{ c.nome }}</td>
      <td>{{ c.cognome }}</td>
      <td>{{ c.rag_soc }}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/', c.id]">Modifica</a>
      </td>
      <td>
        <button class="btn btn-danger" (click)="elimina(c.id)">Elimina</button>
      </td>
    </tr>
  </tbody>
</table>
